body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;;
}

.flexible-container {
    display: flex;
    margin-bottom: 50px;
}

.orange-color {
    color: orange;
}

.half-width {
    width: 80%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    /* background-color: orange; */
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5%;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.skills-area {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item{
    width: 40%;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgb(24, 183, 143);
        /* margin: 0px, 5px, 0px, 5px; */
}

#backend-dev{
    border-left: 7px solid tomato;
}
#full-stack-dev{
    border-left: 7px solid sandybrown;
}

footer p{
    text-align: center;
}